{% extends 'core.html' %}

{% block title %}
    Create a new Category
{%endblock%} 

{% block content %}

<h1>Add Category</h1>
<br /><br />
{%if user.is_authenticated%}

<div class="mb-3">
  <form method="Post">
    {% csrf_token %}
    {{ form.as_p}}
    <input class="btn btn-secondary" type="submit" value="Add Category">
  </form>
</div>
{% else %}

You dont have permission in this page! <a class =  "btn btn-secondary"
 href = " {% url 'register'%} " >SignUp Now</a>{% endif %}

{% endblock %}

