{% extends 'core.html' %} {% block content %}


<h1>{{ category_name }} </h1>

{% for post in category_posts %}
  <ul>
    <li>
      <a href="{% url 'article_detail' post.pk %}" class="link-info">{{post.title}}</a>
      | {{post.author.first_name}} {{post.author.last_name}} -
        <small><small><small class = " fw-light fst-italic" >{{post.post_date}}</small></small></small>

        <br/>
      {{post.body|slice:300}} - 
      {% if user.is_authenticated %}
        <a href = " {% url 'update_post' post.pk %} " ><small>(edit)</small></a>
      {% endif %}
    </li>
  </ul>
{% endfor %} {% endblock %}

