{% extends 'core.html' %}

{% block title %}
    Delete Post
{%endblock%} 

{% block content %}

<h3>Delete Post: {{ post.title}} 
<small>
  <small>
    <small>
      <small class = "fw-lighter fst-italic" >{{post.publish_date}}

      </small>
    </small>
  </small>
</small></h3>
<br/> <br/>
{%if user.is_authenticated%}

<strong>Are you sure you want to delete this post?</strong>
<div class="mb-3">
  <form method="Post">
    {% csrf_token %}
    <a class =  "btn btn-secondary" href = " {% url 'update_post' post.pk %} " >Update</a>
    <input class="btn btn-secondary" type="submit" value="Delete"></input>
  </form>
</div>
{% else %}
You Cannot Delete Posts
{% endif %}
{% endblock %}

