{% extends 'core.html' %} {% block content %}
<h1>Post</h1>

{% for post in object_list %}
<ul>
  <li>
    <a href="{% url 'article_detail' post.pk %}" class="link-info">{{post.title}}</a>
     | {{post.author.first_name}} {{post.author.last_name}} -
      <small><small><small class = " fw-light fst-italic" >{{post.post_date}}</small></small></small>

      <br/>
    {{post.body}} - <a href = " {% url 'update_post' post.pk %} " ><small>(edit)</small></a>
  </li>
</ul>

{% endfor %} {% endblock %}
